@model IEnumerable<EagleTimeManagement.Models.TimeCardPeriod>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/Review.css" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/ReviewScreen.js"></script>

<h1>Review Pay Periods</h1>

<div id="customer-selector">
    @Html.DropDownList(
        "DateRange",
        new SelectList(
           Model.Select(x => new { Value = x.ID, Text = x.range }),
           "Value",
           "Text"
        ),
        "Select Date Range",
        new { @class = "form-control" }
    )
</div>

<h5 id="display-range"></h5>

<div id="data-table">

</div>
