
<ul class="navbar-nav">
    @if (ViewData["EmpName"] != null)
    {
        <li class="nav-item">
            <p class="nav-link text-dark">Hello, @ViewData["EmpName"]!</p>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
        </li>
    }
</ul>