/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import "Variables.css";

/* GENERAL */
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    font-family: var(--eagle-font-content);
}

/* VALIDATION MESSAGES */
.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 2px solid red;
}

/* NAVBAR */
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}


/* RESPONSIVE */
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

